#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: #11071F;
  background-image: url("../../Assets/preload.svg");
  background-repeat: no-repeat;
  background-position: center;
}

#preloader-hide {
  opacity: 1;
}